body {
  background-image:
    url(images/Ellipse\ 18.png),
    url(images/Ellipse\ 19.png),
    url(images/ellipse\ 30.png),
    url(images/Ellipse\ 31.png),
    url(images/Ellipse\ 32.png),
    url(images/Ellipse\ 33.png);
  background-position:
    top left,
    right 0% top 10%,
    top 33% left,
    right 0% bottom 52%,
    left 0% bottom 38%,
    right 0% bottom 22%;
  background-size:
    auto,
    auto,
    60% auto,
    auto 7%,
    63% auto,
    50% auto;
  background-repeat: no-repeat;
  background-color: #191765;
  box-sizing: border-box;
  font-family: sans-serif, Roboto;
  font-style: normal;
  margin: 0;
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

main > * {
  flex: 1;
}

/*
   Header
*/

.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
}

#logo {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  animation: logo-animation 2s;
}

@keyframes logo-animation {
  100% {
    transform: rotate(360deg);
  }
}

.nav-links {
  display: none;
}

nav,
.name-info,
.box-tools {
  animation: headline 2s ease-out;
}

@keyframes headline {
  0% {
    transform: scale(0.1);
  }

  100% {
    transform: scale(1);
  }
}

/*
  TOOLS & SKILLS
*/

.name-info {
  padding-top: 30px;
  padding-bottom: 20px;
}

.name-info h1 {
  color: #7d73fc;
  font-size: 40px;
  text-align: center;
}

.name-info h2 {
  font-size: 30px;
  text-align: center;
  line-height: 20px;
  color: #edecff;
}

.box-tools {
  display: flex;
  flex-direction: column;
}

#intro {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  font-style: normal;
  color: #c8c8d4;
}

ul,
li > * {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.box-tools > * {
  margin-top: 35px;
}

.skills-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: 15px;
}

.skills-item > * {
  flex: 1 1 50%;
}

.items > * {
  font-size: 15px;
  line-height: 24px;
  flex: 1 1 50%;
  font-family: sans-serif, halvetica, arial, helvet;
  color: #f5f5ff;
}

.items:nth-child(1) {
  margin-top: 15px;
}

.items-title:nth-last-child(1) {
  margin-bottom: 0;
}

/*
  SUPPORTING ITEMS & SOCIAL MEDIAs
*/

.support_items {
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  margin-bottom: 20px;
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

i {
  color: #fff;
  font-size: 22px;
}

.work-direction {
  display: flex;
  justify-content: center;
  gap: 15px;
  padding-top: 25px;
  color: #a2a3ae;
  font-size: 20px;
}

/*
  WORK
*/

.work {
  margin-top: 20px;
}

#break {
  display: block;
}

.all_projects {
  display: grid;
  grid-gap: 40px;
}

#work-title {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.work h2 {
  color: #9490ff;
  font-size: 35px;
  font-family: sans-serif, Roboto;
  line-height: 52px;
}

.app_image {
  width: 100%;
}

.app_image img {
  width: 100%;
}

.project {
  display: flex;
  flex-flow: column;
}

.project-body {
  display: grid;
  grid-gap: 5px;
}

.project-body p {
  font-family: sans-serif, Inter;
  font-style: normal;
  font-size: 20px;
  line-height: 28px;
  color: #dcdce8;
}

.project-body h3 {
  font-family: sans-serif, Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 44px;
  color: #edecff;
}

.project-tools {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  padding: 15px;
  border: 1px hidden;
  color: #edecff;
}

.project button {
  margin-top: 15px;
}

button:enabled {
  background: #7d73fc;
}

button:disabled {
  background: #2a2b33;
}

button:hover {
  box-shadow: 0 8px 16px 0 #7d73fc7a;
  background: #7d73fc7a;
}

button:active {
  background: #5e42d7;
}

footer {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 50px;
}

.contact-text {
  width: 90%;
  margin: 0 auto;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  margin: 50px auto;
  gap: 20px;
}

form ul,
li {
  margin-bottom: 17px;
}

#footer-line {
  width: 100%;
  margin-top: 60px;
}

#footer-line img {
  width: 100%;
}

.contact-text h2 {
  font-size: 32px;
  line-height: 44px;
  color: #9390ff;
}

.contact-text h2:nth-child(2) {
  display: none;
}

.contact-text p {
  color: #f5f5ff;
  font-size: 18px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}

footer a {
  color: #ebebff;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

.userName,
textarea {
  margin: 0 auto;
  width: 100%;
}

label {
  display: flex;
}

input,
textarea {
  width: 100%;
  padding: 15px;
  color: #81818c;
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  border-radius: 2px;
  border: 1px hidden #fff;
}

input:focus {
  background-color: #f7f3ff;
  color: #191765;
}

#last_name {
  position: absolute;
  opacity: 0;
  right: 0;
  bottom: 20px;
}

.form-message {
  display: flex;
}

textarea {
  border: 1px hidden;
  background: #fff;
  height: 120px;
  color: #81818c;
}

.form-btn button {
  padding: 15px 50px;
}

.form-error {
  display: none;
  color: rgb(240, 34, 34);
  font-size: 15px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
}

.project-tools li {
  font-family: sans-serif, Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #fff;
}

.skills-item > li {
  color: #9490ff;
  font-size: 12px;
  line-height: 24px;
  font-family: "Roboto", sans-serif;
}

.arrow-1 {
  display: none;
}

.mobile-menu {
  display: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  flex-direction: column;
  gap: 40px;
  background-image: url(images/mobile-menu-shapes.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 90%;
  background-color: #191765;
}

.mobile-menu ul {
  display: flex;
  flex-flow: column;
  gap: 20px;
  width: 75%;
  margin: 0 auto;
}

.mobile-menu ul > * {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.mobile-menu a {
  color: #edecff;
  font-size: 24px;
  font-weight: 500;
  line-height: 32px;
  text-decoration: none;
}

.mobile-menu a:hover {
  color: #7d73fc;
  text-decoration: underline;
}

.mobile-menu ul i {
  color: #7d73fc;
}

.mobile-menu ul i:hover {
  color: #edecff;
}

#cross-arrow {
  text-align: right;
  align-self: flex-end;
  width: 80%;
  margin: 10% auto 0;
  cursor: pointer;
}

#cross-arrow i:hover {
  color: #7d73fc;
}

.skills-item ul > *:nth-last-child(1) {
  margin-bottom: 0;
}

/*
  DESKTOP VERSION
*/

@media only screen and (min-width: 992px) {
  html,
  body {
    height: 100%;
    margin: 0;
  }

  body {
    background: url(images/two-circles-header.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: #191765;
  }

  .header-box {
    width: 85%;
    margin: 50px auto;
  }

  main {
    background: url(images/Group-elipse.png);
    background-repeat: no-repeat;
    background-position-y: 83%;
    background-size: 100% 55%;
    width: 100%;
    margin: 0;
  }

  .nav-links {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }

  nav a {
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
    text-align: center;
    text-decoration: none;
  }

  nav a:active {
    color: #7d73fc;
    text-decoration: underline;
  }

  .menu-icon {
    display: none;
  }

  .mobile-menu {
    display: none;
  }

  .headline-wrapper > * {
    width: 45%;
    margin: 0 auto;
  }

  .name-info {
    margin: 50px auto 50px;
  }

  .name-info h1 {
    font-size: 50px;
    line-height: 105.47px;
    font-weight: 700;
    margin: 0;
  }

  .name-info h2 {
    font-size: 40px;
    line-height: 50px;
    font-weight: 500;
    margin: 0;
  }

  #intro {
    line-height: 32px;
  }

  .skills-item {
    margin: 0;
  }

  .skills-item > * {
    flex: 1;
    margin-left: 45px;
  }

  .skills-item li {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
  }

  .arrow-1 {
    display: flex;
  }

  .support_items {
    width: 80%;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    margin: 100px auto 200px;
  }

  .work-direction {
    padding: 0;
  }

  .social-media > * {
    margin: 0;
  }

  .work-direction span {
    font-size: 20px;
    font-weight: 500;
    color: #b3bac5;
  }

  .work-direction img {
    color: #c4c4c4;
  }

  .work {
    width: 85%;
    margin: 0 auto;
    margin-bottom: 140px;
  }

  #work-title {
    margin-bottom: 90px;
  }

  #break {
    display: inline;
  }

  .all_projects {
    grid-gap: 90px;
    width: 100%;
  }

  .project {
    flex-flow: row;
    width: 100%;
    gap: 4%;
    margin: 0;
    height: 450px;
  }

  .project-body > * {
    margin: 0;
  }

  .project:nth-child(even) {
    flex-flow: row-reverse;
  }

  .app_image {
    height: 100%;
    width: 58%;
  }

  .app_image img {
    height: 100%;
  }

  .project-body::before {
    content: "";
  }

  .project-body {
    width: 38%;
    height: 100%;
  }

  .project:nth-child(1) .project-body {
    grid-template-rows: 1fr 1fr 1fr;
  }

  .project-body h3 {
    font-size: 37px;
    line-height: 52px;
    font-weight: 700;
  }

  .project-body p {
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
  }

  .project-tools li {
    font-size: 15px;
    line-height: 20px;
    font-weight: 500;
  }

  .contact-text,
  form {
    width: 55%;
    margin-bottom: 80px;
  }

  #last_name {
    position: static;
    opacity: 1;
  }

  .contact-text h2:nth-child(1) {
    display: none;
  }

  .contact-text h2:nth-child(2) {
    display: contents;
    font-weight: 700;
    font-size: 40px;
    line-height: 24px;
  }

  #work-title h2 {
    text-transform: lowercase;
    font-weight: 700;
    font-size: 64px;
    line-height: 114px;
    margin: 0 0 30px;
  }

  #work-title h2::first-letter {
    text-transform: uppercase;
  }

  .contact-text p {
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
    margin-top: 30px;
  }

  .userName {
    display: flex;
    gap: 15px;
  }

  .userName > * {
    flex: 1;
  }

  .skills-item ul > * {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
  }

  .skills-item > *:nth-child(1) {
    margin-left: 10px;
  }

  .form-btn button {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    margin-top: 50px;
  }

  footer .support_items {
    width: 55%;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .project-body button {
    font-size: 15px;
    line-height: 24px;
    font-weight: 500;
    color: #fff;
    font-family: "Roboto", sans-serif;
  }
}
